NIS_2019_PCLASS_ORPROC.csv
NIS_2020_PCLASS_ORPROC.csv
NIS_2016_labels.csv
NIS_2016_na.csv
NIS_2016_test_data.ASC
NIS_2016_widths.csv
NIS_2017_labels.csv
NIS_2017_na.csv
NIS_2017_test_data.ASC
NIS_2017_widths.csv
NIS_2018_labels.csv
NIS_2018_na.csv
NIS_2018_test_data.ASC
NIS_2018_widths.csv
NIS_2018_descriptions.csv
NIS_2017_descriptions.csv
NIS_2016_descriptions.csv
